{% extends "base.html" %}
{% block title %} DELETE SUBSCRIBER {% endblock title%}
{% block body %}
  <h1 align="center">УДАЛЕНИЕ АБОНЕНТА</h1>
  <h1 align="center">Вы действительно хотите удалить абонента<br> {{ object }}?</h1>
  <form action="" method="POST">
      {% csrf_token %}
      <p align="center">
      <button type="submit" value="Confirm">ДА</button>
      </p>
  </form>
{% endblock body%}     