{% extends "base.html" %}
{% block title %} LIST OF SUBSCRIBERS {% endblock title%}
{% block body %}

  <h1 align="center"><br>АБОНЕНТЫ</h1>
  <section>
  <table border="1" align="center" cellspacing="0" cellpadding="10" summary="subscriber_list" frame="void">
      <tr>
        <th>№п.п.</th>
        <th>Фото</th>
        <th>Фамилия</th>        
        <th>Имя</th>
        <th>Отчество</th>
        <th> Мобильный__телефон </th>
        <th>Стационарный_телефон</th>        
        <th>Email</th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
      {% for obj in object_list %}
      <tr>
          <td><a href="/subscriber/{{obj.pk}}/">{{obj.pk}}</a></td>
          <td><center>{%if obj.face_image%}<img src="{{ obj.face_image.url}}" style="height: 155px; width: auto;" alt="Face image">{%endif%}</center></td>
          <td>{{obj.surname}}</td>        
          <td>{{obj.name}}</td>
          <td>{{obj.patronymic}}</td>

          <td>
              {% for m_phone in obj.mobile.all %}
                {{ m_phone.m_number }}<br>
              {% endfor %}
          </td>

          <td>{{obj.l_phone.ll_number}}</td>

          <td>{{obj.e_mail}}</td>
          <td><a href="/subscriber/update/{{obj.pk}}/">Редактировать</a></td>
          <td><a href="/subscriber/delete/{{obj.pk}}/">Удалить</a></td>
      </tr>
      {% endfor %}
  </table>
  </section>

  <section>
      <br>
      <p align="middle"><button type="submit"><a href="/subscriber/create/">Добавить<br>абонента</a></button></p>
  </section>
{% endblock body%}                             