{% extends "base.html" %}
{% block title %} SUBSCRIBER DETAIL {% endblock title%}
{% block body %}
  <h1 align="center"> АБОНЕНТ </h1>
  {% block content %}
  <section>
  <table border="1" align="center" cellspacing="0" cellpadding="10" summary="subscriber_list">
    <tr>
        <th>№п.п.</th>
        <th>Фото</th>
        <th>Фамилия</th>    
        <th>Имя</th>
        <th>Отчество</th>
        <th>Email</th>

    </tr>
    <tr>
        <td>{{object.pk}}</td>
        <td><center><img src="/{{ obj.face_image }}" style="height: 155px; width: auto;" alt="Photo_cover"></center></td>
        <td>{{object.surname}}</td>    
        <td>{{object.name}}</td>
        <td>{{object.patronymic}}</td>
        <td>{{object.e_mail}}</td>

    </tr>
  </table>
      <p align="middle"><button type="submit"><a href="/subscriber/update/{{object.pk}}/">Изменить</a></button></p>
  </section>
{% endblock content %}
{% endblock body%}                