{% extends "base.html" %}
{% block title %} DELETE MOBILE PHONE {% endblock title%}
{% block body %}
<h1 align="center"> <br> </h1>
  <h1 align="center">УДАЛЕНИЕ МОБИЛЬНОГО ТЕЛЕФОНА</h1>
  <h1 align="center">Вы действительно хотите удалить мобильный телефон<br> {{ object }}?</h1>
  <form action="" method="POST">
      {% csrf_token %}
      <p align="center">
      <button type="submit" value="Confirm">ДА</button>
      </p>
  </form>
{% endblock body%}     