{% extends "base.html" %}
{% block title %} LIST OF MOBILE PHONES {% endblock title%}
{% block body %}

  <h1 align="center"><br>МОБИЛЬНЫE<br>ТЕЛЕФОНЫ</h1>
  <section>
  <table border="1" align="center" cellspacing="0" cellpadding="10" summary="mobile_phone_list" frame="void">
      <tr>
        <th>№п.п.</th>
        <th>Абонент</th>
        <th>Мобильный телефон</th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
      {% for obj in object_list %}
      <tr>
          <td><a href="/mobile/{{obj.pk}}/">{{obj.pk}}</a></td>
          
         
            <td>
               {{obj.subs.surname}}     
               {{obj.subs.name}}
               {{obj.subs.patronymic}}
            </td>


          <td>{{obj.m_number}}</td>
          <td><a href="/mobile/update/{{obj.pk}}/">Редактировать</a></td>
          <td><a href="/mobile/delete/{{obj.pk}}/">Удалить</a></td>

          
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td>{{obj.subscriber.e_mail}}</td> -->
          <!-- <td><a href="/mobile/update/{{obj.pk}}/">Редактировать</a></td> -->
          <!-- <td><a href="/mobile/delete/{{obj.pk}}/">Удалить</a></td> -->

      </tr>
      {% endfor %}
  </table>
  </section>

  <section>
      <br>
      <p align="middle"><button type="submit"><a href="/mobile/create/">Добавить<br>номер<br>телефона</a></button></p>
  </section>
{% endblock body%}
