{% extends "base.html" %}
{% block title %} MOBILE PHONE DETAIL {% endblock title%}
{% block body %}
<h1 align="center"> <br> </h1>
  <h1 align="center"> МОБИЛЬНЫЙ ТЕЛЕФОН </h1>
  {% block content %}
  <section>
  <table border="1" align="center" cellspacing="0" cellpadding="10" summary="subscriber_list">
    <tr>
        <th>№п.п.</th>
        <th>Абонент</th>
        <th>Мобильный телефон</th>
    </tr>
    <tr>
        <td>{{object.pk}}</td>
        <td></td>
        <td></td>
        
        <!-- <td>{% for subscriber in obj.subs.all %}
            <a href="/subscriber/{{subscriber.pk}}/">
              {{subscriber.surname}}     
              {{subscriber.name}}
              {{subscriber.patronymic}}
              </a>
            {% endfor %}</td> -->

        <td>{% for subscriber in obj.mobile.all %}
               {{object.m_number}}
            {% endfor %}</td>  
    </tr>
  </table>
      <p align="middle"><button type="submit"><a href="/mobile/update/{{object.pk}}/">Изменить</a></button></p>
  </section>
{% endblock content %}
{% endblock body%}                