{% extends "base.html" %}
{% block title %} CREATE LAND LINE PHONE{% endblock title%}
{% block body %}
<h1 align="center"> Добавить/Изменить данные </h1>
<h1 align="center"> Стационарный телефон </h1>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button type="submit">SEND</button>
</form>
{% endblock body%}      