{% extends "base.html" %}
{% block title %} DELETE LAND LINE PHONE {% endblock title%}
{% block body %}
  <h1 align="center">УДАЛЕНИЕ НОМЕРА <br> Стационарного телефона</h1>
  <h1 align="center">Вы действительно хотите удалить<br> телефонный номер<br> {{ object }}?</h1>
  <form action="" method="POST">
      {% csrf_token %}
      <p align="center">
      <button type="submit" value="Confirm">ДА</button>
      </p>
  </form>
{% endblock body%}     