{% extends "base.html" %}
{% block title %} LAND LINE PHONE DETAIL {% endblock title%}
{% block body %}
  <h1 align="center"> LAND LINE PHONE </h1>
  {% block content %}
  <section>
  <table border="1" align="center" cellspacing="0" cellpadding="10" summary="landline_list">
    <tr>
        <th>№п.п.</th>
        <th>Номер стационарного телефона </th>
    </tr>
    <tr>
        <td>{{object.pk}}</td>
        <td>{{object.ll_number}}</td>

    </tr>
  </table>
      <p align="middle"><button type="submit"><a href="/landline/update/{{object.pk}}/">Изменить</a></button></p>
  </section>
{% endblock content %}
{% endblock body%}                