{% extends "base.html" %}
{% block title %} LIST OF LAND LINE PHONES {% endblock title%}
{% block body %}

  <h1 align="center"><br>СТАЦИОНАРНЫЕ<br>ТЕЛЕФОНЫ</h1>
  <section>
  <table border="1" align="center" cellspacing="0" cellpadding="10" summary="subscriber_list" frame="void">
      <tr>
        <th>№п.п.</th>
        <th>Номер стационарного телефона </th>
        <th>Абонент</th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
      {% for obj in object_list %}
      <tr>
          <td><a href="/landline/{{obj.pk}}/">{{obj.pk}}</a></td>
          <td>{{obj.ll_number}}</td>

          <td>{% for subscriber in obj.subs.all %}
                {{subscriber.surname}}
                {{subscriber.name}}
                {{subscriber.patronymic}}
              {% endfor %}</td>

          <td><a href="/landline/update/{{obj.pk}}/">Редактировать</a></td>
          <td><a href="/landline/delete/{{obj.pk}}/">Удалить</a></td>
      </tr>
      {% endfor %}
  </table>
  </section>
  <section>
      <br>
      <p align="middle"><button type="submit"><a href="/landline/create/">Добавить<br>номер<br>телефона</a></button></p>
  </section>
{% endblock body%}
