<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href='/subscriber/list/'> Абоненты <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href='/mobile/list/'> Мобильные телефоны </a>
    </li>
    <li class="nav-item active">
          <a class="nav-link" href='/landline/list/'> Стационарные телефоны </a>
      </li>
    <li class="nav-item active">
      <a class="nav-link" href='/admin/'>ADMIN</a>
    </li>
    <li class="nav-item dropdown active">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">REST</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="/rest/subscriber/">Абоненты ></a>
        <a class="dropdown-item" href="/rest/mobile/">Мобильные ></a>
        <a class="dropdown-item" href="/rest/landline/">Стационарные ></a>
      </div>
    </li>
</ul>
                                      